<section class="mb-5">
    <div class="container">
        <div class="bg-light rounded-4 main-about">
            <div class="pre-title">
                о бренде
            </div>
            <h2 class="fw-medium text-uppercase">
                <span class="text-gray">Пальмира</span> - Удобная, практичная и стильная спецодежда
            </h2>
            <div class="sub-title">
                <p>
                    Процесс разработки ведется в тесном сотрудничестве с экспертами различных областей.
                </p>
            </div>
            <div class="d-lg-flex main-about-content">
                <img src="img/pattern-white.svg" alt="" class="mb-4 mb-lg-0 d-md-block d-none">
                <div class="fw-medium">
                    <p>
                        Мы всегда прислушиваемся к мнению профессионалов, что позволяет легко создавать новые решения и
                        совершенствовать уже существующие модели. Все материалы и фурнитура проходят тщательный отбор и
                        контроль качества. Каждое изделие тестируется на удобство и эргономику, а защитные
                        характеристики подтверждаются в специализированных лабораториях. Мы тщательно контролируем
                        производственный процесс и проводим проверку каждого изделия после его изготовления.
                    </p>
                    <a href="about.html" class="text-primary text-uppercase text-decoration-none fs-8 fw-bold d-flex gap-2 align-items-center">
                        о компании
                        <svg width="11" height="12" fill="var(--bs-primary)">
                            <use href="#main-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>