<section>
    <div class="container">
        <div class="swiper main-page-banner">
            <div class="swiper-wrapper">
                <div class="main-page-banner-slide swiper-slide position-relative text-white d-flex justify-content-between">
                    <img src="img/main-banner1.png"
                         class="w-100 object-fit-cover rounded-4 position-absolute z-n1 h-100 top-0 start-0">
                    <div class="main-page-banner-content">
                        <img src="img/main-banner-logo.svg" class="mt-4 mb-5">
                        <h1 class="text-uppercase">спецодежда и униформа</h1>
                        <div class="d-flex gap-3 mb-5">
                            <div>#безопасность</div>
                            <div>#комфорт</div>
                            <div>#эргономика</div>
                        </div>
                    </div>
                    <div class="main-page-banner-right d-flex justify-content-between flex-column">
                        <div class="text-end">
                            <svg width="35" height="335">
                                <use href="#protective-text"></use>
                            </svg>
                        </div>
                        <div class="text-uppercase lh-1">
                            <div class="fs-8 mb-2">
                                <span class="fw-medium">Industrial</span> workwear
                            </div>
                            <div>
                                collection 2024
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-page-banner-slide swiper-slide position-relative text-white d-flex justify-content-between">
                    <img src="img/main-banner2.png"
                         class="w-100 object-fit-cover rounded-4 position-absolute z-n1 h-100 top-0 start-0">
                    <div class="main-page-banner-content">
                        <img src="img/main-banner-logo.svg" class="mt-4 mb-5">
                        <h1 class="text-uppercase">спецодежда и униформа</h1>
                        <div class="d-flex gap-3 mb-5">
                            <div>#безопасность</div>
                            <div>#комфорт</div>
                            <div>#эргономика</div>
                        </div>
                    </div>
                    <div class="main-page-banner-right d-flex justify-content-between flex-column">
                        <div class="text-end">
                            <svg width="35" height="335">
                                <use href="#protective-text"></use>
                            </svg>
                        </div>
                        <div class="text-uppercase lh-1">
                            <div class="fs-8 mb-2">
                                <span class="fw-medium">Industrial</span> workwear
                            </div>
                            <div>
                                collection 2024
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-page-banner-slide swiper-slide position-relative text-white d-flex justify-content-between">
                    <img src="img/main-banner3.png"
                         class="w-100 object-fit-cover rounded-4 position-absolute z-n1 h-100 top-0 start-0">
                    <div class="main-page-banner-content">
                        <img src="img/main-banner-logo.svg" class="mt-4 mb-5">
                        <h1 class="text-uppercase">спецодежда и униформа</h1>
                        <div class="d-flex gap-3 mb-5">
                            <div>#безопасность</div>
                            <div>#комфорт</div>
                            <div>#эргономика</div>
                        </div>
                    </div>
                    <div class="main-page-banner-right d-flex justify-content-between flex-column">
                        <div class="text-end">
                            <svg width="35" height="335">
                                <use href="#protective-text"></use>
                            </svg>
                        </div>
                        <div class="text-uppercase lh-1">
                            <div class="fs-8 mb-2">
                                <span class="fw-medium">Industrial</span> workwear
                            </div>
                            <div>
                                collection 2024
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination text-start"></div>
        </div>
    </div>
</section>