<section class="mb-4">
    <div class="container">
        <div class="row gap-lg-0 gap-3">
            <div class="col-lg-4 col-12 rounded-4">
                <a href="catalog.html" class="position-relative d-block main-page-category-card">
                    <img src="img/main-category1.png" height="220" class="w-100 rounded-4 object-fit-cover object-position-center">
                    <div class="bg-black-50 position-absolute h-100 w-100 top-0 left-0 rounded-4 d-flex justify-content-between main-page-category-content">
                        <div class="text-white text-uppercase fs-3">
                            Каталог
                        </div>
                        <svg>
                            <use href="#main-arrow"></use>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-12 rounded-4">
                <a href="catalog.html" class="position-relative d-block main-page-category-card">
                    <img src="img/main-category2.png" height="220" class="w-100 rounded-4 object-fit-cover object-position-center">
                    <div class="bg-black-50 position-absolute h-100 w-100 top-0 left-0 rounded-4 d-flex justify-content-between main-page-category-content">
                        <div class="text-white text-uppercase fs-3">
                            Пошив Спецодежды
                        </div>
                        <svg>
                            <use href="#main-arrow"></use>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-12 rounded-4">
                <a href="catalog.html" class="position-relative d-block main-page-category-card">
                    <img src="img/main-category3.png" height="220" class="w-100 rounded-4 object-fit-cover object-position-center">
                    <div class="bg-black-50 position-absolute h-100 w-100 top-0 left-0 rounded-4 d-flex justify-content-between main-page-category-content">
                        <div class="text-white text-uppercase fs-3">
                            Контакты
                        </div>
                        <svg>
                            <use href="#main-arrow"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>