<section class="partners">
    <div class="container">
        <div class="d-flex gap-4 gap-xl-5">
            {% for i in 1..10 %}
                <div class="flex-fill">
                    <img src="img/partners{{ i }}.svg" alt="partners{{ i }}" class="w-100" style="max-width: 120px;">
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="bg-black rounded-3 mt-4 px-4 px-md-5 py-4">
            <div class="d-md-flex justify-content-between align-items-center pb-4 mb-3 mb-lg-5"
                 style="border-bottom:1px solid var(--bs-gray);">
                <img src="img/logo-white.svg">
                <div class="text-uppercase text-white mb-0 mt-3 mt-md-0 fw-normal">
                    Надежность, которой доверяют
                </div>
            </div>
            <div class="footer-nav py-4">
                <div class="text-white text-uppercase d-flex flex-column gap-2">
                    <div class="fs-9 text-capitalize text-gray">
                        Реквизиты:
                    </div>
                    <div>
                        ИНН 7811767040
                    </div>
                    <div>
                        КПП 781101001
                    </div>
                    <div>
                        ОГРН 1217800166495
                    </div>
                </div>
                <div class="text-white d-flex flex-column gap-2">
                    <div class="fs-9 text-gray">
                        Адрес офиса:
                    </div>
                    <div>
                        СПб, пр. Обуховской Обороны, д.76, лит.Р, помещение 8-Н, офис 302
                    </div>
                </div>
                <div class="d-flex flex-column gap-2">
                    <div class="fs-9 text-gray">
                        Телефон:
                    </div>
                    <div>
                        <a href="tel:+78124555222" class="text-white text-decoration-none">
                            +78124555222
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2">
                    <div class="fs-9 text-gray">
                        E-mail:
                    </div>
                    <div>
                        <a href="mailto:palmira.rus@yandex.ru" class="text-white text-decoration-none">
                            palmira.rus@yandex.ru
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2">
                    <div class="fs-9 text-gray">
                        Навигация
                    </div>
                    <nav class="row text-uppercase fs-8">
                        <div class="col-6">
                            <a href="/about.html" class="text-white text-decoration-none">
                                о компании
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="/services.html" class="text-white text-decoration-none">
                                услуги
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="/catalog.html" class="text-white text-decoration-none">
                                Каталог
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="/client.html" class="text-white text-decoration-none">
                                Клиентам
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="/blog.html" class="text-white text-decoration-none">
                                Блог
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="/contact.html" class="text-white text-decoration-none">
                                Контакты
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="d-flex justify-content-lg-between align-items-lg-end fs-9 text-white flex-lg-row flex-column gap-lg-0 gap-4">
                <div class="lh-base">
                    <span class="fw-bold d-block">Цены, указанные на сайте, не являются публичной офертой.</span>
                    Обращаем ваше внимание на то, что информация на данном интернет-сайте носит исключительно
                    информационный<br> характер и не является публичной офертой, определяемой положениями ст. 437 ГК РФ.
                </div>
                <div class="d-flex gap-2 gap-md-3 flex-md-row flex-column">
                    <a href="/" class="text-white text-decoration-none">
                        Договр-офферта
                    </a>
                    <a href="/" class="text-white text-decoration-none">
                        Политика конфиденциальности
                    </a>
                </div>
            </div>
        </div>
        <div class="py-4 fs-9 text-center opacity-75">
            ©1996 – 2024 ООО "УНИПАЛМ" | Все права защищены
        </div>
    </div>
</footer>