<header>
    <div class="container position-relative">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="img/logo.svg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-uppercase gap-4" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4 align-items-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link lh-1 dropdown-toggle px-0 py-1 active fw-bold" href="#" id="navbarCatalog"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Каталог
                            <svg>
                                <use href="#main-arrow"></use>
                            </svg>
                        </a>
                        <ul class="dropdown-menu border-0 rounded-bottom mt-0" aria-labelledby="navbarCatalog">
                            <li>
                                <a class="dropdown-item lh-1 active" href="#">
                                    <svg>
                                        <use href="#new-icon"></use>
                                    </svg>
                                    Новинки
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item lh-1" href="#">
                                    <svg>
                                        <use href="#special-clth"></use>
                                    </svg>
                                    спецодежда
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item lh-1" href="#">
                                    <svg>
                                        <use href="#special-shoes"></use>
                                    </svg>
                                    спецобвуь
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item lh-1" href="#">
                                    <svg>
                                        <use href="#siz"></use>
                                    </svg>
                                    сиз
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item lh-1" href="#">
                                    <svg>
                                        <use href="#hand-def"></use>
                                    </svg>
                                    защита рук
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item lh-1" href="#">
                                    <svg>
                                        <use href="#otrsl"></use>
                                    </svg>
                                    по отраслям
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item lh-1" href="#">
                                    <svg>
                                        <use href="#sew"></use>
                                    </svg>
                                    пошив одежды
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item lh-1" href="#">
                                    <svg>
                                        <use href="#brand"></use>
                                    </svg>
                                    брендирование
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lh-1 px-0 py-1" href="/about.html">О компании</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link lh-1 dropdown-toggle px-0 py-1 d-flex align-items-center" href="#"
                           id="navbarService" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Услуги
                            <svg>
                                <use href="#down-arrow-nav"></use>
                            </svg>
                        </a>
                        <ul class="dropdown-menu border-0 rounded-bottom flex-column p-3 gap-3 mt-0"
                            aria-labelledby="navbarService">
                            <li><a class="dropdown-item lh-1" href="#">пошив одежды</a></li>
                            <li><a class="dropdown-item lh-1" href="#">брендирование</a></li>
                            <li><a class="dropdown-item lh-1" href="#">Термопечать</a></li>
                            <li><a class="dropdown-item lh-1" href="#">Машинная вышивка</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link lh-1 dropdown-toggle px-0 py-1" href="#" id="navbarPartners" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Клиентам
                            <svg>
                                <use href="#down-arrow-nav"></use>
                            </svg>
                        </a>
                        <ul class="dropdown-menu border-0 rounded-bottom flex-column p-3 gap-3 mt-0"
                            aria-labelledby="navbarPartners">
                            <li><a class="dropdown-item lh-1" href="#">доставка</a></li>
                            <li><a class="dropdown-item lh-1" href="#">оплата</a></li>
                            <li><a class="dropdown-item lh-1" href="#">Возврат и обмен</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lh-1 px-0 py-1" href="/blog.html">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link lh-1 px-0 py-1" href="/contact.html">Контакты</a>
                    </li>
                </ul>
                <a href="tel:78124555222" class="nav-link fw-bold fs-7 lh-1 px-0 py-1">
                    +7 (812) 455-52-22
                </a>
                <a href="/cart.html" class="px-0 py-1 position-relative  text-decoration-none text-white fs-10">
                    <svg width="22px" height="22px">
                        <use href="#cart"></use>
                    </svg>
                    <div class="cart-count rounded-5 bg-primary p-1 fw-bold d-flex align-items-center justify-content-center lh-1 position-absolute">
                        <span class="mt-auto">23</span>
                    </div>
                </a>
                <a href="/profile.html" class="px-0 py-1 position-relative">
                    <svg width="22px" height="22px">
                        <use href="#profile"></use>
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</header>